hostname = testflight.apple.com

^https:\/\/testflight\.apple\.com\/v3\/accounts/.*\/apps$ url script-request-header https://raw.githubusercontent.com/lilws/QX/dev/Scripts/testflight/Auto_join_TF.js

^https://testflight.apple.com/join/(.*) url script-request-header https://raw.githubusercontent.com/lilws/QX/dev/Scripts/testflight/TF_keys.js
